/****************************************HEAD SECTION***********************************/

#content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 0px;
}

#certain-pokemon {
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 32px;
}

#heart {
    cursor: pointer;
}

.pokemon-header-text {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

#pokemonName {
    margin-top: 12px;
}

.pokemon-header-types {
    display: flex;
}

.pokemon-header-type {
    padding-inline: 16px;
    padding-block: 4px;
    margin-right: 8px;
    font-size: 14px;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}

.pokemon-header-text-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.pokemon-header-number {
    font-weight: 700;
    margin-top: 32px;
}

.pokemon-header-animal {
    margin-top: 8px;
    font-weight: 500;
}

#pokemonArtwork {
    width: 250px;
    height: 250px;
    position: relative;
    top: 32px;
}

/****************************************HEAD SECTION***********************************/






/****************************************INFO SECTION***********************************/

.info-container {
    background-color: white;
    height: 200px;
    margin-top: -30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.nav-bar {
    display: flex;
    justify-content: space-evenly;
    color: gray;
    font-size: 16px;
    font-weight: 500;
    padding-top: 48px;
    cursor: pointer;
}

.nav-bar-link:hover {
    color: black;
    padding-bottom: 4px;
    border-bottom: 2px solid rgb(52, 52, 221);
}

.nav-bar-link-active {
    color: black;
    font-weight: 600;
    padding-bottom: 4px;
    border-bottom: 2px solid rgb(52, 52, 221);
}


/****************************************INFO SECTION***********************************/

/****************************************BASE STATS***********************************/

#base-stats {
    width: 85%;
}


/****************************************BASE STATS***********************************/


/****************************************ABOUT POKEMON***********************************/

#pokemon-description {
    margin-block: 16px;
    margin-inline: 22px;
    padding: 4px;
    min-height: 80px;

    font-family: 'Aldrich';
    font-size: 18px;
    font-weight: 400;

    color: rgb(8, 29, 11);
    border: 3px solid rgb(53, 53, 53);
    background-color: rgb(36, 179, 136);
}


table {
    width: 80%;
    font-weight: 500;
    border-collapse: collapse;
}

table td {
    border: 1px solid rgb(77, 77, 77);
}

table tr:first-child td {
    border-top: 0;
}

table tr:last-child td {
    border-bottom: 0;
}

table tr td:first-child {
    border-left: 0;
}

table tr td:last-child {
    border-right: 0;
}

tr {
    height: 32px;
}

.td-left {
    padding-right: 28px;
}

.td-right {
    padding-left: 12px;
}




/****************************************ABOUT POKEMON***********************************/


















.evolution-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
}

.evolution-name {
    margin-top: 20px;
    margin-bottom: 8px;
}

.evolution-img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.evolution-img {
    width: 170px;
    margin-bottom: 16px;
}

.evolution-img-background {
    width: 200px;
    height: 100px;
    position: relative;
    bottom: 90px;
    opacity: 0.2;
    z-index: -500;
}

.evolution-trigger {
    display: flex;
    align-items: center;
    padding-block: 4px;
    padding-inline: 8px;
    border-radius: 10px;

    background-color: rgb(233, 233, 233);
}